
@import "http://fonts.googleapis.com/css?family=Droid+Serif";
/* The Above Line Is To Import Google Font Style */
.maindiv {
margin:30px auto;
width:980px;
height:500px;
background:#fff;
padding-top:20px;
font-family:'Droid Serif',serif;
font-size:14px
}
h1 {
    
    background-color:#f0f8ff;
   
    text-align:center;
 ;
  }
.title {
    margin: 10px auto;
    width: 20%;
    text-shadow:2px 2px 2px #cc3d3d;
    font-size:32px;
    text-align:center;
    background-color: white;
    padding: 6px;
    border-radius: 6px;
    
}
.out:hover {
  opacity: 0.9;
  cursor: pointer;
}
.out{
    float: right;
   
    font-size: 20px;
    
    padding: 10px;
    border-radius: 5px;
    background-color: beige;
    list-style: none;
}
.btn_logout{
    text-decoration: none;
    color:#cc3d3d;
    font-weight: bold;
}
.form_div {
    width:100%;  
    display: flex;
    flex-direction: column;    
    align-items: center;
}
.div_form-a{
    
    
    
}
form {
margin:0 auto;
width:300px;
border:1px dashed #aaa;
padding:10px 30px 40px;
background-color:#f0f8ff;
text-align: center;
border-radius:10px;
}
form h2 {
text-align:center;
text-shadow:2px 2px 2px #cfcfcf
}
textarea {
width:100%;
height:60px;
border-radius:1px;
box-shadow:0 0 1px 2px #123456;
margin-top:10px;
padding:7px;
border:none
}
.input {
width:100%;
height:30px;
border-radius:2px;
box-shadow:0 0 1px 2px #123456;
margin-top:10px;
padding:7px;
border:none;
margin-bottom:20px
}
.submit {
color:#fff;
border-radius:3px;
background:#1F8DD6;
padding:5px;
margin-top:40px;
border:none;
width:100%;
height:30px;
box-shadow:0 0 1px 2px #123456;
font-size:18px
}
p {
color:red;
text-align:center
}
span {
text-align:center;
color:green
}
